<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 用户 Servlet -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.atguigu.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>

    <!-- 图书 Servlet -->
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.atguigu.web.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/manager/bookServlet</url-pattern>
    </servlet-mapping>

    <!-- 前台 Servlet -->
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.atguigu.web.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/clientServlet</url-pattern>
    </servlet-mapping>

    <!-- 用于生成验证码的 KaptchaServlet -->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>

    <!-- 购物车 Servlet -->
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.atguigu.web.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>

    <!-- 订单 Servlet -->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.atguigu.web.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>

    <!-- 登录 Filter -->
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>com.atguigu.filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/pages/manager/*</url-pattern>
        <url-pattern>/manager/*</url-pattern>
    </filter-mapping>

    <!-- 事务 Filter -->
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>com.atguigu.filter.TransactionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 500 错误页面 -->
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/error500.jsp</location>
    </error-page>
    <!-- 404 错误页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error404.jsp</location>
    </error-page>

</web-app>
